@layer reset, layout, components, edit;
@layer reset {
  :root {
    --gray: #f0f0f0;
    --green: #d4dcc0;
    --red: #ff8754;
    --dark: #1c1c29;
    --white: #fff;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f0f0f0;
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
@layer layout {
  body {
    padding: 2rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 2rem;
  }
  .footer {
    margin-top: 2rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Components                                 */
/* -------------------------------------------------------------------------- */
@layer components {
  @layer button {
    .btn-copy {
      background: var(--red);
      border: none;
      border-radius: 10rem;
      padding: 1rem 2rem;
      color: var(--white);
      font-size: 1.4rem;
      cursor: pointer;
    }
  }
  @layer forms {
    :is(input, textarea) {
      border: 2px solid var(--dark);
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      transition: border 0.5s;
      outline: none;
      &:focus {
        border-color: var(--red);
      }
    }
    .label,
    label {
      color: var(--dark);
      font-size: 1.8rem;
    }
  }
  @layer etc {
    .gnb {
      display: flex;
      gap: 1rem;
      a {
        font-size: 1.2rem;
        color: inherit;
      }
    }
    .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      img {
        width: 30px;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Edit                                    */
/* -------------------------------------------------------------------------- */
@layer edit {
  .snippet-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .textarea {
      resize: vertical;
      /* height: 50vh; */
    }
    label {
      margin-top: 0.5rem;
      transition: color 0.5s;
      &:has(+ :focus) {
        color: var(--red);
      }
    }
  }
  .snippet-output {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 0.5rem;
    .label {
      margin-top: 0.5rem;
      font-weight: normal;
    }
    .output {
      font-size: 1.5rem;
      border: 2px solid var(--dark);
      background-color: var(--white);
      padding: 1rem;
      border-radius: 0.5rem;
      line-height: 1.6;
      overflow: auto;
      max-height: 60vh;
    }
    textarea {
      overflow: hidden;
      border: none;
      resize: none;
      line-height: 1.6;
      outline: none;
      width: 100%;
      background-color: transparent;
    }
    button {
      justify-self: end;
    }
  }
}
