@layer reset, layout, components, edit;

/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */
@layer reset {
  :root {
    --gray: #f0f0f0;
    --green: #d4dcc0;
    --red: #ff8754;
    --dark: #1c1c29;
    --darkLight: rgba(28, 28, 41, 0.5);
    --white: #fff;
    --kor: "Gothic A1", serif;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--kor);
    &::selection {
      background-color: var(--darkLight);
      color: var(--white);
    }
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1rem;
    background-color: #f0f0f0;
  }
  a.new {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    &::after {
      content: "";
      width: 1.5rem;
      aspect-ratio: 1;
      background: url(./images/ico_blank.svg) no-repeat center / contain;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Layout                                   */
/* -------------------------------------------------------------------------- */
@layer layout {
  body {
    padding: 4rem;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 2rem;
  }
  .footer {
    margin-top: 4rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    nav {
      display: flex;
      gap: 1rem;
    }
    a {
      font-size: 1.6rem;
      color: inherit;
      transition: 0.5s;
      &:hover {
        color: var(--red);
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 Components                                 */
/* -------------------------------------------------------------------------- */
@layer components {
  @layer button {
    .btn-copy {
      background: var(--red);
      border: none;
      border-radius: 10rem;
      padding: 1rem 2rem;
      color: var(--white);
      font-size: 1.6rem;
      cursor: pointer;
      font-weight: 500;
      transition: 0.5s;
    }
  }
  @layer forms {
    :is(input, textarea) {
      border: 2px solid var(--dark);
      padding: 1rem;
      border-radius: 0.5rem;
      font-size: 1.6rem;
      font-weight: 500;
      transition: border 0.5s;
      outline: none;
      font-family: var(--kor);
      &:focus {
        border-color: var(--red);
      }
      &::placeholder {
        font-family: var(--kor);
      }
    }
    :is(.heading-base, label) {
      color: var(--dark);
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  @layer etc {
    .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      img {
        width: 30px;
      }
    }
  }

  @layer notice {
    .notice-guide {
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: var(--green);
      padding: 2rem 3rem;
      border-radius: 1rem;
      > div {
        font-size: 1.6rem;
        line-height: 1.6;
        margin-top: 1rem;
        ul {
          list-style-position: inside;
          li {
            padding-block: 0.2rem;
          }
        }
      }
    }

    @layer {
      code {
        background-color: var(--darkLight);
        padding: 0 0.5rem;
        border-radius: 0.4rem;
        display: inline-block;
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 300;
        line-height: -1rem;
        translate: 0 -0.2rem;
      }
      kbd {
        align-content: center;
        border-radius: 0.4rem;
        display: inline-block;
        margin-inline: 0.2rem;
        padding: 0 0.5rem;
        height: 2rem;
        border: 1px solid var(--dark);
        box-shadow: 2px 2px 0 var(--dark);
        background-color: var(--white);
        font-size: 1.2rem;
        font-weight: 300;
        line-height: -1rem;
        translate: 0 -0.3rem;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                    Edit                                    */
/* -------------------------------------------------------------------------- */
@layer edit {
  .snippet-input {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .textarea {
      resize: vertical;
    }
    label {
      margin-top: 1rem;
      transition: color 0.5s;
      &:has(+ :focus) {
        color: var(--red);
      }
    }
  }
  .snippet-output {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    gap: 0.5rem;
    .label {
      margin-top: 0.5rem;
    }
    .output {
      font-size: 1.5rem;
      border: 2px solid var(--dark);
      background-color: var(--white);
      padding: 1rem;
      border-radius: 0.5rem;
      line-height: 1.6;
      overflow: auto;
      max-height: 38.7rem;
      margin-top: 1.5rem;
    }
    textarea {
      overflow: hidden;
      border: none;
      resize: none;
      line-height: 1.6;
      outline: none;
      width: 100%;
      background-color: transparent;
    }
    button {
      justify-self: end;
    }
  }
}
